<p>
  <a routerLink="/" routerLinkActive="errorMsg">Home</a>
  <a routerLink="/demos" routerLinkActive="errorMsg">Demos</a>
  <a routerLink="/calculadora" routerLinkActive="errorMsg">Calculadora</a>
  <a routerLink="/personas" routerLinkActive="errorMsg">Personas</a>
  <a routerLink="/personas/1" routerLinkActive="errorMsg">Pedro</a>
  <a routerLink="/personas/2/pepito/grillo" routerLinkActive="errorMsg">Pepito G.</a>
  <a routerLink="pepito/grillo" routerLinkActive="errorMsg">Pepito</a>
  <a routerLink="admin" routerLinkActive="errorMsg">Admin</a>
  <a routerLink="/KK" routerLinkActive="errorMsg">KK</a>
</p>
<router-outlet name='lateral'></router-outlet>