.error { color:red; }
.urgente { text-decoration: line-through; }
.importante { font-weight: bold; }


.text-right {
    text-align: right;
}

/* Formularios ******************************************************/
form .ng-pristine {
	border-color: navy;
    box-shadow: 5px 5px 5px navy;
}
form .ng-dirty {
	border-color: green;
    box-shadow: 5px 5px 5px green;
}
form .ng-invalid {
	border-color: red;
    box-shadow: 5px 5px 5px red;
    transform: scale(1.02);
	transition: all linear 1s;	
}
form .ng-invalid-parse {
	transition: all linear 1s;	
}

.errorMsg {
	color: red;
}
